data/
.idea/
.pytest_cache/
.ruff_cache/
.env
__pycache__
*.pyc
*.log
.git
.gitignore
config/
tests/
docs/
logs/
dist/
Dockerfile
Dockerfile.cuda
environment.yml
pyproject.toml
README.md
.mypy_cache/
.ruff_cache/
.pytest_cache/
.github/
